/* Estilos generales para centrar el formulario */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #040404;
}

.forgot-password-mini-container {
    background-color: #222222;
    padding: 60px 68px;
    border-radius: 30px;
}

.forgot-password-title {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.forgot-password-form{
    display: flex;
    flex-direction: column;
    width: 480px;
}

.forgot-password-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box; /* Asegura que el padding no influya en el tamaño */
}

.forgot-password-button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    background-color: #A10000;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Asegura que el padding no influya en el tamaño */
}

.forgot-password-button:hover {
    background-color: #c00000;
}

.forgot-password-message,
.forgot-password-error {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
}

.forgot-password-error {
    color: red;
}

.forgot-password-link {
    color: #777;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    text-align: center; /* Asegura que el enlace esté centrado */
    width: 100%; /* Opción para que ocupe el 100% del espacio disponible */
}

@media (max-width: 700px) {
    .forgot-password-mini-container{
        width: 85%;
    }

    .forgot-password-form{
        width: auto;
    }
}

@media (max-width: 500px) {

    .forgot-password-mini-container{
        padding-right: 30px;
        padding-left: 30px;
    }

    .forgot-password-title{
        font-size: 18px;
    }

    .forgot-password-input{
        font-size: 12px;
    }

    .forgot-password-button{
        font-size: 12px;
        font-weight: 700;
    }

    .forgot-password-link{
        font-size: 12px;
    }
}
