.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Espacio vertical */
    margin: 0 80px; /* Espacio de 80 px a la izquierda y derecha */
    margin-bottom: 72px;
    background-color: #040404; /* Cambia el color de fondo según tu diseño */
    border-bottom: 1px solid #6F6F6F;
    position: sticky; /* Mantiene el navbar fijo en la parte superior */
  top: 0; /* Se coloca en la parte superior */
  left: 0; /* Alineación al lado izquierdo */
  right: 0; /* Alineación al lado derecho */
  z-index: 1000; /* Asegura que el navbar esté encima de otros elementos */
  }
  
  .left-section {
    display: flex;
    align-items: center; /* Alinea el logo y los enlaces verticalmente */
  }

  .navbar-brand.logo {
    padding: 0;
    margin-right: 72px;
  }
  
  .nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Espaciado entre los enlaces */
  margin-left: 72px; /* Espacio de 72 px a la izquierda del nav-links */
  padding-left: 0px;
}
  
  .nav-links li {
    margin-left: 72px; /* Espacio de 72 px solo para el primer enlace */
  }
  
  .nav-links li:first-child {
    margin-left: 0; /* Quita el margen izquierdo del primer enlace */
  }
  
  .nav-links li a {
    color: #FFFFFF; /* Color blanco */
    text-decoration: none; /* Quitar subrayado */
    font-size: 20px; /* Tamaño de la tipografía */
    font-weight: 400; /* Peso regular (normal) */
    opacity: 0.8; /* Opacidad del 80% */
  }
  
  .nav-links li a:hover {
    text-decoration: underline; /* Opcional: agrega subrayado al pasar el mouse */
    opacity: 1;
  }
  
  .login-link {
    margin-left: auto; /* Mueve el enlace de login a la derecha */
  }
  
  .login-link a {
    color: #FFFFFF; /* Cambia el color según prefieras */
    font-size: 24px; /* Tamaño de 24 px */
    font-weight: 600; /* Peso semibold */
    text-decoration: none; /* Quitar subrayado */
  }
  
  .login-link a:hover {
    text-decoration: underline; /* Opcional: agrega subrayado al pasar el mouse */
    color: #FFFFFF;
  }
  
  .profile-button {
    background-color: #1a1a1a; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrado de texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Permite el padding y margin */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 0px; /* Margen */
    cursor: pointer; /* Cursor tipo puntero al pasar el ratón */
    border-radius: 8px; /* Bordes redondeados */
}

.profile-button:hover {
    background-color: #a10000; /* Color de fondo al pasar el ratón */
}

.nav-logout{
  margin-right: 20px;
  margin-left: 20px;
}

.nav-logout:hover{
  background-color: #a10000;
  border-color: transparent;
}

.navbar {
  background-color: #040404;
  border-bottom: 1px solid #6F6F6F;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .navbar-brand .logo img {
  height: 26px;
  width: 63px;
}

.navbar-nav .nav-link {
  color: #FFFFFF;
  opacity: 0.8;
  font-size: 20px;
}

.navbar-nav .nav-link:hover {
  opacity: 1;
}

.profile-button, .nav-logout, .view-cart-button {
  color: white;
  background-color: #1a1a1a;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

.profile-button:hover, .nav-logout:hover, .view-cart-button:hover {
  background-color: #a10000;
}

.img-navbar{
  width: 63px;
}

.navbar-nav {
  display: flex;
  gap: 48px;
}

.nav-item{
  margin-right: 40px;
}
.navbar-links{
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

/* Cambia el color de los enlaces al pasar el mouse por encima */
.navbar-nav .navbar-links:hover {
  text-decoration: underline; /* Opcional: agrega subrayado al pasar el mouse */
  color: #FFFFFF;
}

.navbar-nav .navbar-links:active {
  color: #FFFFFF; /* Mantener el mismo color que el normal */
}

.navbar-collapse{
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav-login{
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

@media (max-width: 1440px) {
  .nav-item{
    margin-right: 0px;
  }
  
  .navbar-links{
    font-size: 18px;
  }

  .navbar-brand.logo{
    margin-right: 40px;
  }

  .navbar-nav {
    gap: 20px;
  }
}


@media (max-width: 991px) {
  .navbar {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
  }

  .navbar.navbar-expand-lg {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .login-link a{
    font-size: 18px;
    font-weight: 500;
  }

  .login-link{
    margin-top: 30px;
  }

  .navbar-nav{
    text-align:center;
    margin-top: 20px;
  }

  .nav-item{
    color: white;
    background-color: #1a1a1a;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .profile-button {
    margin: 0px;

}
}

@media (max-width: 514px) {
  .navbar{
    margin-bottom: 50px;
  }
}