/* Estilos generales para centrar el formulario */
.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: #040404;
}

.reset-password-mini-container {
    background-color: #222222;
    padding: 60px 68px;
    border-radius: 30px;
}

.reset-password-title {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    width: 480px;
}

.reset-password-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box; /* Asegura que el padding no influya en el tamaño */
}

.reset-password-button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    background-color: #d90429;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Asegura que el padding no influya en el tamaño */
}

.reset-password-button:hover {
    background-color: #b80224;
}

.reset-password-message {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
    max-width: 480px;
}
