.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
    height: 65vh;
}

.detail-container img {
    width: auto;
    max-width: 600px;
    border-radius: 30px;
}

.detail-description {
    width: 600px;
    color: #9e9e9e;
}

.detail-text {
    margin-left: 40px;
}

.detail-text h1 {
    margin: 0;
    font-size: 40px;
    color: #ffffff;
}

.category-description {
    color: #949494;
    font-size: 20px;
    margin: 0;
}

.price-stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-desc {
    font-size: 32px;
    color: #ffffff;
}

.title-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.stock-desc {
    color: #949494;
    font-size: 20px;
}

.add-cart-desc {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    border: 2px solid #A9A9A9;
    border-radius: 20px;
}

.add-cart-desc:hover {
    border: 2px solid #ff0202;
}

.product-actions-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-actions-modify {
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    border: 2px solid #A9A9A9;
    border-radius: 20px;
}

.product-actions-delete {
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    border: 2px solid #A9A9A9;
    border-radius: 20px;
}

.product-actions-modify:hover,
.product-actions-delete:hover {
    border: 2px solid #A10000;
}

@media (max-width: 1440px) {
    .detail-container {
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    .detail-container img {
        margin-top: 24px;
    }

    .detail-text {
        margin-top: 24px;
        margin-left: 0;

    }
}

@media (max-width: 910px) {
    .detail-container img {
        width: 450px;
    }

    .detail-text {
        max-width: 450px;
    }


    .detail-description {

        width: auto;
    }
}

@media (max-width: 768px) {
    .detail-container img {
        width: 450px;
    }

    .detail-text {
        max-width: 450px;
    }


    .detail-description {

        width: auto;
    }
}

@media (max-width: 610px) {
    .detail-container img {
        width: 350px;
        height: auto;
        margin-top: 24px;
    }

    .detail-text {
        max-width: 350px;
    }


    .detail-description {
        width: auto;
    }

    .detail-text h1 {
        font-size: 30px;
    }

    .detail-description{
        font-size: 14px;
    }
    
    .price-desc{
        font-size: 30px;
    }
    
    .product-actions-modify{
        font-size: 12px;
    }

    .product-actions-delete{
        font-size: 12px;
    }
}

@media (max-width: 514px) {
    .detail-mega-container {
        height: auto;
    }

    .detail-container img {
        width: 250px;
        margin: 0;
    }

    .detail-description {
        width: auto;
    }

    .detail-text h1 {
        font-size: 24px;
    }

    .category-description{
        font-size: 16px;
    }

    .detail-description{
        font-size: 12px;
    }
    
    .price-desc{
        font-size: 24px;
    }

    .stock-desc{
        font-size: 12px;
    }

    
}