/* Estilos generales para la lista de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el número de columnas según el tamaño del contenedor */
    gap: 20px;
    padding: 20px;
    background-color: #121212; /* Color de fondo oscuro */
    color: #040404; /* Color de texto claro */
  }
  
  .product-item {
    background-color: #FFFFFF; /* Fondo de cada producto */
    border-radius: 8px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #040404;
    margin: 0;
  }
  
  .product-image {
    width: 100%;
    cursor: pointer;
  }
  

  
  .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .logout-button {
    margin-top: 20px;
    background-color: #dc3545;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }

  
.product-card-description-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-top: 4px;
}

.product-card-description{
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.product-category{
    font-size: 15px;
    margin: 0;
    color: #636363;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 8px;
}

.add-cart{
    width: 100%;
    background-color: transparent;
    color: #040404;
    font-weight: 700;
    border: 2px solid #A9A9A9;
    border-radius: 20px;
}

.add-cart:hover{
  border: 2px solid #ff0202;
}

.modifiy-card{
  max-width: 112px;
  font-size: 14px;
}

.modifiy-card:hover{
  background-color: #4e4e4e;
  transition: background-color 0.2s ease;
  border-color: transparent;
}

.delete-card{
  max-width: 112px;
  font-size: 14px;
}

.delete-card:hover{
  background-color: #4e4e4e;
  transition: background-color 0.2s ease;
  border-color: transparent;
}

.product-detail-card-price {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}